/* body{
	margin:0px;
	padding: 0px;
	background-color: rgb(57, 207, 245);
}
.tab {
	background-color: white;
	border-collapse: collapse;
	margin-bottom: 20px;
}
.tab th,td{
	padding: 5px;
}
.bouton{
	width: 150px;
	height: 25px;
	font-size: 17px;
	background-color: #7cd03c;
} */
